Flask==3.0.3
Flask-Cors==4.0.1
python-dotenv==1.0.1

SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
alembic==1.13.2

requests==2.32.3
selectolax==0.3.21     
beautifulsoup4==4.12.3 

pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
statsmodels==0.14.2


pytrends==4.9.2        

APScheduler==3.10.4    
loguru==0.7.2

streamlit==1.39.0
plotly==5.24.1
